#header {
  position: relative;
  background: #f4f4f4;
  border-bottom: 1px solid #e4e4e4;
  height: 60px;
  display: flex;
  align-items: center;
  font-family: 'PT Mono', monospace;
  font-size: 14px;
}
#header #image {
  display: flex;
  align-items: center;
  width: 10%;
  box-sizing: border-box;
}
#header #image a:first-child {
  margin: 0px 20px 0px 30px;
}
#header #user a:first-child {
  border-bottom: none;
  text-decoration: none;
  color: #4183c4;
}
#header #user div {
  font-size: 12px;
  color: #787a7b;
  font-family: Questrial, sans-serif;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}
#header #login a {
  height: 30px;
  width: 90px;
  border: 1px solid #ececec;
  outline: 0px;
  background-color: #7998a6;
  font-size: 13px;
  color: white;
  cursor: pointer;
  font-family: Questrial, sans-serif;
  transition: all 0.2s ease-out;
  text-decoration: none;
  position: absolute;
  right: 10px;
  top: 17px;
  box-sizing: border-box;
  padding: 7px;
  text-shadow: none;
  text-align: center;
}
section {
  display: flex;
}
section #editor {
  width: 60%;
  max-height: 600px;
  box-sizing: border-box;
  overflow: hidden;
}
section #editor #control_editor {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  position: relative;
  font-size: 16px;
  opacity: 0.7;
  color: #3f403f;
  font-family: 'Questrial', sans-serif;
}
section #editor #control_editor #left_control_editor {
  width: 30%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}
section #editor #control_editor #left_control_editor i {
  margin: 10px;
  font-size: 26px;
}
section #editor #control_editor #middle_control_editor {
  width: 40%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}
section #editor #control_editor #middle_control_editor > div {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  height: 29px;
  width: 118px;
  font-size: 15px;
  font-family: Questrial;
  color: #767777;
  border: 1px solid #ededed;
  outline: 0px;
  background-color: #f5f5f5;
  cursor: pointer;
  margin: 5px;
  line-height: 10px;
}
section #editor #control_editor #middle_control_editor i {
  margin: 5px;
}
section #editor #control_editor #right_control_editor {
  width: 30%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
section #editor #control_editor #right_control_editor i {
  margin-right: 10px;
}
section #editor #code_editor {
  margin-top: 0px;
  height: 525px;
  font-size: 14px;
}
section #compiler {
  max-height: 600px;
  position: relative;
  display: block;
  width: 40%;
  box-sizing: border-box;
  border-left: 10px solid gainsboro;
}
section #compiler #control_compiler {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 50px;
  background: #0e1628;
}
section #compiler #control_compiler > div {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  height: 29px;
  width: 118px;
  font-size: 15px;
  font-family: Questrial;
  color: #767777;
  border: 1px solid #767777;
  outline: 0px;
  background-color: transparent;
  cursor: pointer;
  margin-left: 0px;
  line-height: 10px;
  z-index: 10;
  margin-right: 15px;
}
section #compiler #control_compiler i {
  margin: 5px;
}
